.list_group__box--offer
	padding: 0 14px !important
	margin-top: -48px
	box-shadow: none
	transition all 666ms

	.list-group-item
		background-color: rgba(255,255,255,0.75) !important

.show-form-top .list_group__box--offer
	margin-top -133px - 10px
	margin-bottom 0