.list_group__box--offer
	padding: 0 14px !important
	margin-top: -48px
	box-shadow: none

	.list-group-item
		background-color: rgba(255,255,255,0.75) !important

.show-form-top .list-group__box--offer
	margin-top calc(-100vh + 98px)
	transition all 666ms