.site
		&-header
			background #C8FF00
			height $headerHeight
			line-height $headerHeight
			padding 0 10px


		&-logo
			color rgba(#413D3D, 0.75)
			font-weight bold
			font-size 22px
			text-transform uppercase
			letter-spacing 2px
			text-decoration none

			&:hover, &:active, &:visited
				color @color
				text-decoration none

			i
				font-style normal
				color #040004