$icon-font-path = '../libs/bootstrap-stylus/fonts/'
$border-radius-base = $border-radius-large = $border-radius-small = $radius

// Core variables and mixins
@import "nib";
@import "../libs/bootstrap-stylus/stylus/variables";
@import "../libs/bootstrap-stylus/stylus/mixins";

// Reset
@import "../libs/bootstrap-stylus/stylus/normalize";
@import "../libs/bootstrap-stylus/stylus/print";

// Core CSS
@import "../libs/bootstrap-stylus/stylus/scaffolding";
@import "../libs/bootstrap-stylus/stylus/utilities";
@import "../libs/bootstrap-stylus/stylus/type";
@import "../libs/bootstrap-stylus/stylus/code";
@import "../libs/bootstrap-stylus/stylus/grid";
@import "../libs/bootstrap-stylus/stylus/tables";
@import "../libs/bootstrap-stylus/stylus/forms";
@import "../libs/bootstrap-stylus/stylus/buttons";

// Components
@import "../libs/bootstrap-stylus/stylus/component-animations";
@import "../libs/bootstrap-stylus/stylus/glyphicons";
@import "../libs/bootstrap-stylus/stylus/dropdowns";
@import "../libs/bootstrap-stylus/stylus/button-groups";
@import "../libs/bootstrap-stylus/stylus/input-groups";
@import "../libs/bootstrap-stylus/stylus/navs";
@import "../libs/bootstrap-stylus/stylus/navbar";
@import "../libs/bootstrap-stylus/stylus/breadcrumbs";
@import "../libs/bootstrap-stylus/stylus/pagination";
@import "../libs/bootstrap-stylus/stylus/pager";
@import "../libs/bootstrap-stylus/stylus/labels";
@import "../libs/bootstrap-stylus/stylus/badges";
@import "../libs/bootstrap-stylus/stylus/jumbotron";
@import "../libs/bootstrap-stylus/stylus/thumbnails";
@import "../libs/bootstrap-stylus/stylus/alerts";
@import "../libs/bootstrap-stylus/stylus/progress-bars";
@import "../libs/bootstrap-stylus/stylus/media";
@import "../libs/bootstrap-stylus/stylus/list-group";
@import "../libs/bootstrap-stylus/stylus/panels";
@import "../libs/bootstrap-stylus/stylus/wells";
@import "../libs/bootstrap-stylus/stylus/close";

// Components w/ JavaScript
@import "../libs/bootstrap-stylus/stylus/modals";
@import "../libs/bootstrap-stylus/stylus/tooltip";
@import "../libs/bootstrap-stylus/stylus/popovers";
@import "../libs/bootstrap-stylus/stylus/carousel";

// Utility classes
@import "../libs/bootstrap-stylus/stylus/responsive-utilities";

//edit
.navbar
	border-radius: 0px !important

.search__box input
	margin: 15px 0
	padding: 0 10px

.list_group__box
	padding: 0 3px !important
	margin-top: calc(100vh - 240px)
	box-shadow: none

.list_group__box--offer
	padding: 0 14px !important
	margin-top: calc(100vh - 240px)
	box-shadow: none
.list_group__box--offer .list-group-item
	background-color: rgba(255,255,255,0.75) !important
.message--cancel
	text-decoration: none


.col__list
	padding: 0 2px !important

.list-group-item
	padding: 10px 5px

.active__title
	display: inline-block
	margin: 15px 20px 10px 0 !important

.add_entry__link
	display: block
	color: white
.add_entry__link a:href
	color: #c4c4c4

.entry_text
	display: inline-block

.add__icon
	display: inline-block
	padding-left: 10px

.offer_title
	text-align: center
	margin: 5px 0 15px
	padding: 0
.offer-filed--divider
	margin: 5px 0

.btn__cross, .message--send, .btn__send-message
	width: 33px
	height: 33px
	cursor: pointer
	position: relative

.btn__cross, .btn__cross a, .btn__cross a:hover
	color: #c4c4c4


.btn__cross .glyphicon, .btn__send-message .glyphicon
	padding-top: 4px

.message--send
	top: 35px

.input__message
	margin-top: 15px

.sport__title
	display: inline-block
	margin-bottom: 0px !important
	padding: 0

.sport__info
	margin-top: 10px
.sport__info li
	margin-right: 15px

@media (max-width: 400px)
	.add_entry__link
		width: 140px
		position: relative
		top: -12px
	.add__icon
		float: right
	.add__icon
		position: relative
		top: -30px
		font-size: 20px !important