$gratio = 1.618
$pi = 3.14159

$base-font-size = 16px
$font-family-base = 'PT Sans', $font-family-sans-serif
$font-family-head = $font-family-base

$radius = 2px
$spacing = ceil($base-font-size * $gratio)
$padding = ceil($base-font-size * $gratio)

// http://www.colourlovers.com/palette/109188/antidesign
$c-main = #E5F04C
$c-comp = $c-main
$c-hell = #666

$text-color = #040004
$text-back = #fff

$btn-primary-color = #000

$brand-primary =       $c-main
$brand-success =       #C8FF00
$brand-info =          #5bc0de
$brand-warning =       #f0ad4e
$brand-danger =        #d9534f

$border-radius-base = $radius

$headerHeight = 48px