$gratio = 1.618
$pi = 3.14159

$base-font-size = 16px
$font-family-base = 'PT Sans', $font-family-sans-serif
$font-family-head = $font-family-base

$radius = 2px
$spacing = ceil($base-font-size * $gratio)
$padding = ceil($base-font-size * $gratio)

// http://www.colourlovers.com/palette/109188/antidesign
$c-main = #C8FF00
$c-comp = #FA023C
$c-hell = #666

$text-color = #040004
$text-back = #fff

$brand-primary =       #FA023C
$brand-success =       #C8FF00
$brand-info =          #5bc0de
$brand-warning =       #f0ad4e
$brand-danger =        #d9534f

$headerHeight = 48px


//helper-class
.radius--left
	border-radius: 4px 0 0 4px !important

.radius--right
	border-radius: 0 4px 4px 0 !important