$gratio = 1.618
$pi = 3.14159

$base-font-size = 16px
$font-family-base = 'PT Sans', $font-family-sans-serif
$font-family-head = $font-family-base

$radius = 2px
$spacing = ceil($base-font-size * $gratio)
$padding = ceil($base-font-size * $gratio)

$c-main = #009933
$c-comp = #666

$text-color = #000
$text-back = #fff

$headerHeight = 48px


//helper-class
.radius--left
	border-radius: 4px 0 0 4px !important

.radius--right
	border-radius: 0 4px 4px 0 !important